<!DOCTYPE html>
<html>

<head>
  <title>Cumulus</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0fbf921130.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav id="navbar">
    <a href="/">
      <div id="navbar-banner">
        <h1>Cumulus</h1>
        <img id="navbar-logo" src="/images/cloud.png">
      </div>
    </a>
    {{#if hideLogout}}

    {{else}}
    <div id="nav-menu">
      <a id="settings" href="/users/settings" title="Settings"><i class="fa-solid fa-gear"></i></a>
      <!--<a id="logout" href="/users/logout" title="Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>-->
    </div>
    {{/if}}
  </nav>
  <div id="container">
    {{{body}}}
  </div>
</body>

</html>