<h2>Settings</h2>
<form class="form-settings" action="/users/settings" method="post">
    <label for="units">Units:</label><br>
    <select name="units" id="units">
        {{#setSelected units}}
        <option value="metric">Metric</option>
        <option value="imperial">Imperial</option>
        {{/setSelected}}
    </select><br><br>
    <button type="submit">Submit</button>
</form>
{{#if message}}
<p class="message">{{message}}</p>
{{/if}}
<br>
<br>
<a id="logout" href="/users/logout" title="Logout">Logout&nbsp;&nbsp;<i
        class="fa-solid fa-arrow-right-from-bracket"></i></a>
<br><br>
<a id="delete-account" href="/users/delete-confirm" title="Delete Account">Delete
    Account&nbsp;&nbsp;<i class="fa-solid fa-trash"></i></a>
    <br>
{{#if showDeleteConfirm}}
<p class="error-message">Are you sure? You will not be able to re-access your account.</p>
<p>I want to <a href="/users/delete">Delete My Account</a></p>
{{/if}}